@model object

<a href="@Url.Action("Details", Model)"
   class="btn btn-success btn-sm">
    <i class="icon ion-md-eye"></i>
</a>
<a href="@Url.Action("Edit", Model)"
   class="btn btn-dark btn-sm">
    <i class="icon ion-md-create"></i>
</a>
<a href="@Url.Action("Delete", Model)"
   class="btn btn-danger btn-sm">
    <i class="icon ion-md-trash"></i>
</a>
